@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
body {
	background: #f4f3f1;
	font: 15px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.428571429;
	color: #777777;
}

/*Validação*/
ul.alert {
	list-style: none !important;
}
.validate-error{
    color: #a94442;
    display: inline-block;
    padding-bottom: 10px;
}
.has-error .form-control,
.has-error .btn,
.has-error .input-group-addon{
    color: #a94442;
    border:1px solid #a94442;
}
.has-error .btn,
.has-error .input-group-addon{
    background: #f2dede;
}
.has-error label{
    color: #a94442;
}
div.input-group.has-error{
    margin-bottom: 0;
}
/***********/

/*Botões Home*/
.botoes-home{
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align: center;
}
.botoes-home a{
    min-width: 100px;
}
/***********/

.social-container{
	float: right;
}

.social{
	display: inline-block;
}

.trainers-box .title, .news-box .title, .centre-box .title{
	font: bold 18px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #4a837c;
	margin-bottom: 2px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.trainers-box .title:hover, .news-box .title:hover, .centre-box .title:hover {
	color: #e38a82;
}

/*Artigos*/
.artigos {
    margin: 0;
    padding: 0 0 0 20px;
}
.artigos h2{
    margin: 0 0 10px 0;
}
.artigos div {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
}
.artigos div strong {
    color: #584b46;
}

.artigos time {
    font: bold 18px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #e38a82;
    display: block;
    margin-bottom: 11px;
}

/*Contato*/
.contato-btn{
    border-radius: 0 !important;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
	background: none;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}
/*textarea, input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: caret;
}*/
p {
	margin-bottom: 25px;
	font-weight: 300;
	line-height: 25px;
}
p > span {
	color: #575045;
}
h1.navbar-brand_ {
	margin: 0;
	padding: 0;
	float: left;
}
h1.navbar-brand_ a {
	display: inline-block;
}
h1.navbar-brand_ span {
	display: none;
}
h2 {
	font: bold 30px/30px 'PT Sans Narrow';
	color: #584b46;
	margin: 0 0 30px 0;
	text-transform: uppercase;
}
h2.normal{
    text-transform: none;
}
h2 > span {
	color: #e38a82;
}
h2 > em {
	color: #4a837c;
	font-style: normal;
}
h2.indent {
	margin-bottom: 6px;
}
h3 {
	font: 300 18px/20px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #313130;
	margin: 0 0 20px 0;
	text-transform: uppercase;
}
h3.indent {
	color: #d19555;
}
.extra-wrap {
	overflow: hidden;
}
.global {
	padding: 38px 0 0 0;
	background: #f4f3f1;
}
.global.indent {
	padding: 70px 0 0 0;
}
.center {
	text-align: center;
}
/*-----menu-----*/
nav.tm_navbar {
	background: none;
	border: none;
	padding: 0;
	margin: 12px 0 0 0;
	min-height: 0;
	float: right;
}
nav.tm_navbar li {
	float: left;
	font-size: 15px;
	line-height: 25px;
	padding: 0;
	position: relative;
	padding-right: 19px;
	margin-right: 13px;
	background: url(../img/dot.png) right 8px no-repeat;
}
nav.tm_navbar li:last-child {
	margin-right: 0;
	padding-right: 0;
	background: none;
}
nav.tm_navbar li a {
	position: relative;
	padding: 0;
	font: bold 18px 'PT Sans Narrow';
	color: #ffffff;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar li.active > a {
	color: #e38a82;
	background: none;
}
nav.tm_navbar li > a:hover {
	color: #e38a82;
	background: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar .sfHover > a {
	color: #e38a82;
	background: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar li span {
	height: 4px;
	background: url(../img/menu-marker.png) center 0 no-repeat;
	width: 5px;
	text-align: center;
	position: absolute;
	left: 42px;
	bottom: -6px;
}
/*-----subMenu1-----*/
nav.tm_navbar .sub-menu > ul {
	position: absolute;
	display: none;
	width: 160px;
	left: 0;
	top: 40px;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: #918172;
	padding: 17px 18px;
	margin: 0;
	text-align: left;
}
nav.tm_navbar .sub-menu > ul li {
	background: none;
	border: none;
	width: 100%;
	float: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}
nav.tm_navbar .sub-menu > ul li a {
	display: inline-block;
    width: 100%;
	background: none;
	padding: 0;
	margin: 0;
	float: none;
	font-size: 18px;
	font-weight: normal;
	color: #ffffff;
	text-transform: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar .sub-menu > .submenu li span {
	display: inline-block;
	background: url(../img/menu-marker2.png) no-repeat;
	width: 6px;
	height: 7px;
	position: relative;
	left: 9px;
	top: 0;
}
nav.tm_navbar .sub-menu > ul li a:hover {
	text-decoration: none;
	color: #e38a82 !important;
	background: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
nav.tm_navbar .sub-menu > ul li.sfHover > a {
	text-decoration: none;
	color: #e38a82 !important;
	background: none !important;
}
/*-----subMenu2-----*/
nav.tm_navbar .sub-menu ul ul {
	position: absolute;
	display: none;
	width: 160px;
	left: 149px;
	top: -17px;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: #918172;
	padding: 17px 18px;
	margin: 0;
	text-align: left;
}
nav.tm_navbar .sub-menu ul ul li a {
	background: none;
	padding: 0;
	margin: 0;
	float: none;
	font-size: 13px;
	color: #ffffff;
	text-transform: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar .sub-menu > ul li > ul li a:hover {
	text-decoration: none;
	color: #e38a82 !important;
	background: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.select-menu {
	display: none !important;
}
/*-----content-----*/
#menu{
    background: #9C699E;
    border-bottom: 4px solid #F37E8F;
    padding-bottom: 10px;
}
#menu li.acfe a{
	text-transform: capitalize !important;
}
header {
	margin: 0;
	padding: 0;
	position: relative;
	background: #9C699E url('../img/topo_fundo.png');
    border-bottom: 4px solid #F37E8F;
	z-index: 11;
}

.rodape1 p, .rodape1 div{
	display: inline-block;
}
.rodape1 .divisao{
	width: 10px;
}

footer {
	padding: 46px 0;
	border-top: 3px solid #dddcda;
}
footer p {
	margin-bottom: 0;
	font: 13px 'PT Sans Narrow';
	text-transform: uppercase;
	color: #545454;
}
footer a {
	font: 13px 'PT Sans Narrow';
	text-transform: uppercase;
	color: #545454;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
footer a:hover {
	color: #e38a82;
}
footer em {
	font-style: normal;
}
footer ul {
	padding: 0;
	margin: -6px 0 0 0;
	list-style: none;
	float: right;
}
footer ul li {
	float: left;
	margin-left: 16px;
}
footer ul li:first-child {
	margin-left: 0;
}
footer ul li a {
	font: 13px 'PT Sans Narrow';
	color: #545454;
	text-transform: uppercase;
}
footer ul li a:hover {
	color: #e38a82;
}
.who-box .col-lg-4 {
	margin-bottom: 60px;
}
.errorBox {
	text-align: center;
	padding-top: 4px;
	margin-bottom: 93px;
}
.errorBox1 {
	margin-top: -11px;
	margin-bottom: 40px;
}
.errorBox1 .title {
	font: bold 48px 'PT Sans Narrow';
	color: #584b46;
	text-transform: uppercase;
	margin-bottom: 4px;
}
.errorBox1 .description {
	font: bold 30px 'PT Sans Narrow';
	color: #abddd2;
	text-transform: uppercase;
}
#toTop {
	display: none;
	width: 21px;
	height: 15px;
	background: url(../img/top.png) 0 top no-repeat;
	position: fixed;
	margin-right: -672px !important;
	right: 50%;
	bottom: 120px;
	z-index: 999;
}
#toTop:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.privacyBox {
	margin-bottom: 80px;
}
.blog-box {
	padding: 63px 0 40px 0;
	position: relative;
}
.comment-box {
	padding: 11px 0 26px 0;
	background: #fed46f;
}
.comment-box figure {
	border-radius: 100%;
	float: left;
	margin-right: 45px;
	border: 3px solid #fee097;
}
.comment-box figure img {
	border-radius: 100%;
}
.comment-box .extra-wrap {
	padding-top: 15px;
}
.comment-box p {
	font-size: 14px;
	font-style: italic;
	color: #2e2e2e;
	margin-bottom: 0;
}
.comment-box p a {
	font: bold italic 14px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2e2e2e;
}
.comment-box p a:hover {
	text-decoration: underline;
}
.block-box {
	padding: 37px 0 29px 0;
	background: #3f3f3f;
}
.block-box p {
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 0;
}
.trainerBox {
	margin-bottom: 26px;
	position: relative;
	display: block;
}
.trainerBox figure {
	margin: 0;
}
.trainerBox figure a {
	position: relative;
	display: block;
	width: 100%;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.trainerBox figure a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.trainerBox figure a:hover img {
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.trainerBox figure img {
	width: 100%;
	top: 0;
	left: 0;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	outline: 1px solid transparent;
}
.testimBox {
	padding: 23px 0 0 0;
}
.testimBox .col-lg-3 {
	margin-bottom: 50px;
}
.videosBox {
	padding: 61px 0 0 0;
	background: #e9e9e9 url(../img/pattern1.png) repeat;
}
.videosBox .col-lg-4 {
	margin-bottom: 55px;
}
.videosBox figure {
	margin-bottom: 30px;
}
.videosBox figure img {
	width: 100%;
}
.videosBox figure em {
	width: 100%;
	height: 100%;
	background: url(../img/play.html) center center no-repeat;
	display: block;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.videosBox figure a {
	position: relative;
	display: block;
}
.videosBox figure a:hover em {
	opacity: 0;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.videosBox h3 {
	margin-bottom: 11px;
}
.news-box {
	margin-top: 30px;
}

.news-box .col-lg-3 {
	margin-bottom: 20px;
}
.news-box time {
	margin-bottom: 5px;
	display: inline-block;
}
.news-box time a {
	font: bold 18px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #e38a82;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.news-box time a:hover {
	color: #584b46;
}
.centre-box {
	margin-bottom: 55px;
}
.centre-box time {
	margin-bottom: 5px;
	display: inline-block;
}
.centre-box time a {
	font: bold 18px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #e38a82;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.centre-box time a:hover {
	color: #584b46;
}
.gallery-box {
	padding-bottom: 29px;
}
.blogBox {
	margin-bottom: 48px;
}
.about-box {
	overflow: hidden;
	margin-top: 52px;
	padding-bottom: 28px;
}
.pets-box {
	position: relative;
	padding-bottom: 26px;
}
.pets-box:after {
	width: 1px;
	height: 100%;
	background: #e4e4e4;
	position: absolute;
	z-index: 1;
	display: inline-block;
	top: 0;
	left: -50px;
	content: ' ';
	z-index: 10;
}
/*-----thumbs-----*/
.thumb-pad0 {
	margin: 0;
	overflow: hidden;
}
.thumb-pad0 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad0 .thumbnail .caption {
	padding: 10px 0 0 0;
	overflow: hidden;
	text-align: left;
}
.thumb-pad0 .thumbnail .caption p {
	margin-bottom: 0;
	font: 15px/25px 'PT Sans';
	color: #777;
}
.thumb-pad0 .thumbnail .caption .title {
	font: bold 24px/26px 'PT Sans Narrow';
	color: #4a837c;
	margin-bottom: 8px;
	display: inline-block;
	text-transform: uppercase;
}
.thumb-pad0 .thumbnail .caption .title:hover {
	color: #e38a82;
}
.thumb-pad0 figure {
	margin: 0 17px 0 0;
	float: left;
}
.thumb-pad1 {
	margin: 0 0 43px 0;
	overflow: hidden;
}
.thumb-pad1 .thumbnail {
	position: relative;
	margin: 0 0 24px 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad1 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad1 .thumbnail .caption .title {
	font: 300 18px/24px 'Open Sans';
	color: #d19555;
	margin-bottom: 17px;
	text-transform: uppercase;
}
.thumb-pad1 figure {
	margin: 0 29px 0 0;
	float: left;
}
.thumb-pad1 figure img {
	width: 100%;
}
.thumb-pad2 {
	margin: 0;
	overflow: hidden;
}
.thumb-pad2 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
}
.thumb-pad2 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	position: relative;
	z-index: 2;
}
.thumb-pad2 figure {
	margin: 0 0 30px 0;
}
.thumb-pad2 figure a {
	display: block;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.thumb-pad2 figure a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.thumb-pad2 figure img {
	width: 100%;
}
.thumb-pad3 {
	overflow: hidden;
	margin-bottom: 30px;
}
.thumb-pad3 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad3 .thumbnail .caption {
	padding: 0;
	color: #777777;
	overflow: hidden;
}
.thumb-pad3 .thumbnail .caption .title {
	color: #4a837c;
	font: bold 18px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 12px;
	display: inline-block;
}
.thumb-pad3 .thumbnail .caption .title:hover {
	color: #e38a82;
}
.thumb-pad3 figure {
	margin: 6px 23px 0 0;
	float: left;
}
.thumb-pad3 figure img {
	width: 100%;
}
.popular-box {
	padding-bottom: 18px;
	margin-bottom: 44px;
	border-bottom: 1px solid #e8e8e8;
}
.popular-box.indent {
	border-bottom: none;
	margin-bottom: 56px;
	padding-bottom: 0;
}
.thumb-pad4 {
	margin: 0;
	overflow: hidden;
}
.thumb-pad4 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
}
.thumb-pad4 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad4 .thumbnail .caption .title {
	color: #4a837c;
	font: bold 18px/25px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 15px;
}
.thumb-pad4 figure {
	margin: 0 0 18px 0;
}
.thumb-pad4 figure img {
	width: 100%;
}
.thumb-pad5 {
	margin-bottom: 58px;
}
.thumb-pad5 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad5 .thumbnail .caption {
	padding: 0;
	color: #777777;
	border-top: none;
}
.thumb-pad5 .thumbnail .caption time {
	font: bold 18px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #e38a82;
	display: block;
	margin-bottom: 11px;
}
.thumb-pad5 .thumbnail .caption .description {
	color: #4a837c;
	font: bold 18px/25px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 1px;
}
.thumb-pad5 .thumbnail .caption .description:hover {
	color: #e38a82;
}
.thumb-pad5 figure {
	margin: 0 0 21px 0;
	padding: 0;
}
.thumb-pad5 figure img {
	width: 100%;
}
.thumb-pad5 figure a {
	display: block;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad5 figure a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.thumb-pad5-1 {
	margin-bottom: 18px;
}
.thumb-pad5-1 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad5-1 .thumbnail img {
	float: left;
	margin-right: 20px;
	margin-top: 7px;
}
.thumb-pad5-1 .thumbnail .caption {
	padding: 0;
	color: #777777;
}
.thumb-pad5-1 .thumbnail .caption p {
	margin-bottom: 10px;
}
.thumb-pad5-1 .thumbnail .caption a {
	font: bold 15px/21px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #606060;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 0 12px 0;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad5-1 .thumbnail .caption a:hover {
	color: #0a6f68;
}
.thumb-pad6 {
	overflow: hidden;
	padding-bottom: 32px;
}
.thumb-pad6 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad6 .thumbnail a {
	font: bold 18px 'PT Sans Narrow';
	color: #584b46;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad6 .thumbnail a:hover {
	color: #4a837c;
}
.thumb-pad6 .thumbnail p {
	font-style: italic;
	margin-bottom: 12px;
}
.thumb-pad6 .thumbnail .caption {
	padding: 22px 0 0 0;
	overflow: hidden;
	color: #777777;
}
.thumb-pad6 .thumbnail figure {
	float: left;
	margin: 0;
}
/*-----btn-----*/
.btn-default.btn1 {
	box-shadow: none;
	position: relative;
	text-decoration: none !important;
	padding: 0 9px;
	font: 13px/27px 'PT Sans Narrow';
	margin: 0;
	text-shadow: none;
	color: #ffffff;
	background: #584b46;
	text-transform: uppercase;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn1:hover {
	color: #ffffff;
	background: #e38a82;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn2 {
	box-shadow: none;
	position: relative;
	text-decoration: none !important;
	padding: 0;
	font: 600 14px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	text-shadow: none;
	color: #2f2f2f;
	border: none;
	background: none;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn2:hover {
	color: #d19555;
	background: none;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn3 {
	box-shadow: none;
	position: relative;
	text-decoration: none !important;
	padding: 0;
	font: 12px 'Trajan Pro';
	margin: 0;
	text-shadow: none;
	color: #2a2a38;
	background: none;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn3 img {
	margin-right: 13px;
}
.btn-default.btn3:hover {
	color: #f75050;
	background: none;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn4 {
	box-shadow: none;
	position: relative;
	text-decoration: none !important;
	padding: 0;
	font: 12px 'Trajan Pro';
	margin: 0;
	text-shadow: none;
	color: #f75050;
	background: none;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn4 img {
	display: inline-block;
	margin: 0 13px 0 0;
}
.btn-default.btn4:hover {
	color: #777777;
	background: none;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
/*-----list-----*/
.list1-1 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.list1-1 li {
	font-size: 15px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 15px;
	padding-left: 22px;
	background: url(../img/list_arrow.html) left 5px no-repeat;
}
.list1-1 li a {
	font: 15px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777777;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list1-1 li a:hover {
	color: #ff5c5d;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list1.indent:after {
	width: 1px;
	height: 100%;
	background: url(../img/border.png) repeat-y;
	position: absolute;
	z-index: 1;
	display: inline-block;
	top: 0;
	right: 0;
	content: ' ';
	z-index: 10;
}
.list1 {
	margin: 0 0 6px 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	position: relative;
}
.list1 li {
	font-size: 15px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 8px;
}
.list1 li > .bdg {
	width: 35px;
	font: bold 50px/50px 'PT Sans Narrow';
	color: #e38a82;
	float: left;
	margin-right: 18px;
}
.list1 li .title {
	font: 15px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #575045;
	margin-bottom: 3px;
}
.list1 li p {
	margin-top: 0;
}
.list2 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.list2 li, .list2-sobre li {
	font-size: 15px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 33px;
}
@media(min-width:768px){
	.list2-sobre li{
		width: 50%;
		float: left;
	}
}
.list2 li p {
	margin-bottom: 0;
}
.list2 li figure {
	float: left;
	margin-right: 27px;
}
.list2 li figure img {
	width: 100%;
}
.list2 li .title {
	font: bold 18px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #4a837c;
	margin-bottom: 2px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.list2 li .title:hover {
	color: #e38a82;
}
.list3 {
	margin: 0 0 55px 0;
	padding: 0;
	list-style: none;
}
.list3 li {
	font-size: 15px;
	line-height: 1.428571429;
	margin-bottom: 7px;
}
.list3 li a {
	color: #e38a82;
	font: bold 18px 'PT Sans Narrow';
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.list3 li a:hover {
	color: #584b46;
}
.list6 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list6 li {
	font-size: 15px;
	line-height: 1.428571429;
	margin-bottom: 30px;
}
.list6 li time {
	font: bold 18px 'PT Sans';
	color: #0a6f68;
	margin-bottom: 15px;
	display: inline-block;
}
.list6 li p {
	margin-bottom: 0;
}
.list8 {
     margin: 0;
     padding: 0;
     list-style: none;
 }
.list8 li {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
}
.list8 li strong {
    color: #584b46;
}
.list8 li p {
    margin-bottom: 24px;
}

/*-----search-----*/
#search-404 {
	position: relative;
	overflow: hidden;
}
#search-404 input {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 100%;
	outline: none;
	border: 1px solid #dbd8d8;
	background: #ffffff;
	font: 15px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #777777;
	padding: 7px 14px;
	height: 34px;
	resize: none;
	margin-bottom: 29px;
}
#search {
	margin: 7px 0 0 0;
	position: relative;
	float: right;
	border-radius: 38px;
	border: 1px solid #2f2521;
	background: #090909;
	width: 254px;
}
#search a {
	position: absolute;
	float: left;
	top: 0;
	line-height: 35px;
	right: 18px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#search a:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#search input {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	margin: 0;
	width: 215px;
	outline: none;
	font: 15px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	float: left;
	color: #ffffff;
	background: none;
	height: 38px;
	padding: 9px 0 9px 20px;
	resize: none;
	overflow: hidden;
}
/*-----map-----*/
.map {
	margin: 0 0 58px 0;
	width: 100%;
	line-height: 0;
	overflow: hidden;
}
.map iframe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 448px;
	border: none;
	line-height: 0;
	overflow: hidden;
}
.info p {
	margin-bottom: 21px;
}
.info h3 {
	margin-bottom: 11px;
	font-weight: bold;
	color: #e38a82;
	font-size: 18px;
	text-transform: none;
}
.info a {
	color: #df890f;
}
.info a:hover {
	color: #ffffff;
}
/*-----form-----*/
.formBox {
	padding: 0;
}
#contact-form {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-top: 20px;
	text-align: left;
	margin-bottom: 64px;
}
#contact-form label {
	position: relative;
	display: block;
	min-height: 52px;
	margin: 0;
	font-weight: normal;
	font: 14px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #777777;
}
#contact-form label span {
	margin-bottom: 2px;
	display: block;
	color: #777777;
}
#contact-form .holder {
	overflow: hidden;
}
.form-div-1, .form-div-2, .form-div-3 {
	float: left;
	width: 248px;
	margin-right: 11px;
}
.form-div-1 p, .form-div-2 p, .form-div-3 p {
	margin-bottom: 0;
}
.form-div-3 {
	margin-right: 0;
}
.form-div-4 p {
	margin-bottom: 0;
}
#contact-form ._placeholder {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: text;
	padding: 7px 14px;
	border-radius: 0;
	display: block;
}
#contact-form ._placeholder.focused {
	opacity: 0;
	filter: alpha(opacity=0);
	box-shadow: none;
}
#contact-form ._placeholder.hidden {
	display: none;
}
#contact-form input, #contact-form textarea {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 100%;
	outline: none;
	border: 1px solid #dbd8d8;
	background: #ffffff;
	font: 15px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #777777;
	padding: 7px 14px;
	height: 34px;
	resize: none;
}
#contact-form textarea {
	height: 152px;
	margin-bottom: 21px;
}
#contact-form .error-message, #contact-form .empty-message {
	height: 0;
	overflow: hidden;
	font: 10px 'Arial';
	color: #e38a82;
	-webkit-transition: 0.3s ease-in height;
	transition: 0.3s ease-in height;
	position: absolute;
	right: 5px;
	top: 2px;
}
#contact-form .invalid .error-message, #contact-form .empty .empty-message {
	height: 20px;
}
#contact-form .success-message {
	/*line-height: 48px;
	position: absolute;
	overflow: hidden;
	height: 0;
	left: 0;
	top: 0;
	box-sizing: border-box;
	box-shadow: none;
	border-radius: 0;
	background: #fff;
	z-index: 10;
	width: 100%;
	text-align: center;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	padding: 0;*/
}
#contact-form.success .success-message {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 100%;
	outline: none;
	border: 1px solid #dbd8d8;
	background: #ffffff;
	font: 15px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 59px;
	color: #777777;
	padding: 0 14px;
	height: 59px;
	resize: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.mail {
	color: #e38a82;
	font: 15px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.mail:hover {
	color: #777777;
	text-decoration: none;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btns .btn1 {
	float: left;
	margin-right: 24px;
}
.btns p {
	float: left;
	color: #e38a82;
}
/*------------------------------------------------------media queries---------------------------------------------------------*/
@media (min-width: 1220px) {
 .container {
 padding: 0;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1219px) {
 .form-div-1,  .form-div-2,  .form-div-3 {
 width: 100%;
 float: none;
 margin-right: 0;
}
 #contact-form label {
 min-height: 50px;
}
 .errorBox figure img {
 width: 100%;
}
 .thumb-pad0 .thumbnail .caption p {
 font-size: 14px;
 line-height: 21px;
}
 #contact-form.success .success-message {
 height: 209px;
 line-height: 209px;
}
 .pets-box:after {
 background: none;
 content: none;
}
 .list1.indent:after {
 background: none;
 content: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
 header {
 text-align: center;
}
 nav.tm_navbar {
 float: none;
}
 nav.tm_navbar > .nav {
 display: inline-block;
}
 h1.navbar-brand_ {
 float: none;
 width: 100%;
 text-align: center;
}
 .thumb-pad0 {
 margin: 0 0 30px 0;
 overflow: hidden;
}
 .thumb-pad0 .thumbnail .caption p {
 font-size: 14px;
 line-height: 21px;
}
 .testimBox .col-lg-3 {
 margin-bottom: 40px;
}
 #contact-form.success .success-message {
 height: 209px;
 line-height: 209px;
}
 .form-div-1,  .form-div-2,  .form-div-3 {
 float: none;
 width: 100%;
 margin-right: 0;
}
 #contact-form label {
 min-height: 50px;
}
 .errorBox figure img {
 width: 100%;
}
 .testimBox article {
 margin-bottom: 35px;
}
 .categories-box {
 margin-bottom: 40px;
}
 .thumb-pad1 figure {
 margin: 0 20px 0 0;
 float: left;
}
 .list1 li .title br {
 display: none;
}
 .who-box hr {
 margin: 40px 0 0 0;
}
 .pets-box:after {
 background: none;
 content: none;
}
 .list1.indent:after {
 background: none;
 content: none;
}
 .pets-box {
 margin-top: 40px;
}
 .thumb-pad3 figure {
 margin: 0 0 20px 0;
 float: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
 header {
 text-align: center;
}
 h1.navbar-brand_ {
 float: none;
 width: 100%;
 margin-bottom: 15px;
 text-align: center;
}
 nav.tm_navbar {
 display: inline-block;
 margin-top: 50px;
}
 nav.tm_navbar {
 float: none;
 display: inline-block;
 width: 100%;
 padding: 0;
 margin: 0;
}
 nav.tm_navbar .nav {
 display: none;
}
 .select-menu {
 display: inline-block !important;
 padding-top: 4px;
 padding-right: 3px;
 padding-bottom: 4px;
 width: 100%;
 border: 1px solid #e38a82;
 background: #e38a82;
 color: #ffffff;
 cursor: pointer;
 height: 30px;
 font-size: 12px;
 vertical-align: middle;
}
 .thumb-pad0 {
 margin: 0 0 30px 0;
 overflow: hidden;
}
 .thumb-pad0 .thumbnail .caption p {
 font-size: 14px;
 line-height: 21px;
}
 .thumb-pad2 .thumbnail .caption {
 overflow: visible;
}
 .testimBox .col-lg-3 {
 margin-bottom: 40px;
}
 #contact-form.success .success-message {
 height: 209px;
 line-height: 209px;
}
 .thumb-pad1 figure {
 margin: 0 20px 0 0;
 float: left;
}
 .thumb-pad1 .thumbnail .caption {
 text-align: left;
}
 .thumb-pad1 .thumbnail .caption .title {
 font-size: 21px;
}
 .form-div-1,  .form-div-2,  .form-div-3 {
 width: 100%;
 float: none;
 margin-right: 0;
}
 .map iframe {
 height: 300px;
}
 .info {
 margin-bottom: 50px;
}
 #contact-form label {
 min-height: 50px;
}
 .errorBox figure {
 margin-bottom: 60px;
}
 .proffesional-box {
 padding: 70px 0;
}
 .proffesional-box h2 {
 font-size: 50px;
 margin-bottom: 10px;
}
 .proffesional-box .title {
 font-size: 21px;
}
 .servicesBox h2 {
 font-size: 48px;
 line-height: 48px;
}
 .servicesBox h2 > span {
 font-size: 27px;
 line-height: 30px;
}
 .privacyBox {
 margin-bottom: 50px;
}
 .errorBox {
 padding-top: 80px;
}
 .pict {
 background: none;
 padding: 0 0 90px 0;
}
 .logo-box {
 overflow: hidden;
 margin-bottom: 50px;
 text-align: center;
}
 .logo-box .follow_list {
 display: inline-block;
}
 .testimBox article {
 margin-bottom: 35px;
}
 .categories-box {
 margin-bottom: 40px;
}
 .block-box article {
 margin-bottom: 50px;
}
 .list1 li .title br {
 display: none;
}
 .thumb-pad2 {
 margin: 0 0 30px 0;
}
 .thumb-pad2 figure {
 margin: 0 20px 0 0;
 float: left;
}
 .who-box article {
 margin-bottom: 60px;
}
 .advantages-box article {
 margin-bottom: 60px;
}
 footer {
 text-align: center;
}
 footer ul {
 display: none;
}
 .pets-box:after {
 background: none;
 content: none;
}
 .list1.indent:after {
 background: none;
 content: none;
}
 .pets-box {
 margin-top: 40px;
}
 .thumb-pad4 figure {
 margin: 0 20px 0 0;
 float: left;
}
 .thumb-pad4 .thumbnail .caption {
 overflow: visible;
}
 .thumb-pad3 figure {
 margin: 0 0 20px 0;
 float: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
 .thumb-pad1 figure {
 margin: 0 0 20px 0;
 float: none;
}
 .thumb-pad2 figure {
 margin: 0 0 20px 0;
 float: none;
}
 .thumb-pad4 figure {
 margin: 0 0 20px 0;
 float: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
 .errorBox figure img {
 width: 100%;
}
 .errorBox1 figure img {
 width: 100%;
}
 .comment-box .extra-wrap {
 overflow: visible;
}
 .comment-box figure {
 margin-right: 20px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
 h1.navbar-brand_ a img {
 width: 100%;
}
 .thumb-pad1 figure {
 display: block;
}
 .thumb-pad1 figure img {
 width: 100%;
}
 .baner-box {
 width: 100%;
 float: none;
}
 .proffesional-box h2 {
 font-size: 35px;
}
 .trainerBox {
 width: 50%;
}
 .videosBox .col-lg-4 {
 width: 100%;
 float: left;
}
 .services-box {
 width: 100%;
 float: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {
 h1.navbar-brand_ a img {
 width: 100%;
}
 .trainerBox {
 width: 100%;
 float: none;
}
 .gallery-box {
 width: 100%;
 float: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
.margBot {
	margin-bottom: 0;
}
.padBot {
	padding-bottom: 77px;
}
/*Core variables and mixins*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
